body{
	font-size: 14px;
}
h1{
	color: blue;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;


}
a{
	color:#000CFF;
	text-decoration: underline wavy ;
}
.dotted{
	text-decoration: underline dotted;
}
img{
	width: 300px;
	height: 250px;
}
	/*
	solid
	dotted
	dashed
	*/
p{
	border-left: 5px solid blue;
	border-right: 5px solid blue;
	border-top: 5px double blue;
	border-bottom: 5px double blue;
}
li{
	list-style-image: url("img/фото.png");
}